html, body {
	height: 100%;
	min-height: 100%;
	padding: 0;
	margin: 0;
	border: 0;
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}
.content {
	min-height: 100%;
	height: 100%;
	position: relative;
	background: #FFFFFF;
}
.content #flashDiv {
	min-height: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}
